<footer>
  Made by <a href="https://julien.usson.dev" target="_blank">Julien Usson</a>
</footer>
<style>
  footer {
    margin-top: 30px;
    text-align: center;
  }
  a {
    color: inherit;
  }
</style>
