:root {
  --slidev-theme-background: #f6e995;
  --slidev-theme-primary: #F7E018;
}

.slidev-layout {
  background-color: var(--slidev-theme-background);

  h1 {
    font-family: 'Pacifico', cursive;
  }

  p + h2, ul + h2, table + h2 {
    @apply mt-10;
  }
  
  h1 {
    @apply text-4xl mb-4 -ml-[0.05em];
  }

  h2 {
    @apply text-3xl;
  }

  h3 {
    @apply text-2xl;
  }

  h4 {
    @apply text-xl;
  }

  h5 {
    @apply text-base;
  }

  h6 {
    @apply text-sm pt-1 uppercase tracking-widest font-500 -ml-[0.05em];
  }

  h6:not(.opacity-100) {
    @apply opacity-40;
  }

  li {
    list-style: disc;
  }

  th {
    font-weight: 600;
  }
}


.slidev-layout.center {
  h1 {
    text-align: center;
    margin-bottom: 32px;
  }

  h1:nth-of-type(n+2) {
    margin-top: 16px;
  }

  p {
    text-align: center;
  }


  p:has(+ ul) {
    text-align: left;
  }

  img {
    margin-left: auto;
    margin-right: auto;
  }

  .slidev-monaco-container {
    width: 600px;
  }
}

.slidev-layout.cover,
.slidev-layout.intro {
  @apply h-full grid;

  h1 {
    color: inherit;
    @apply text-6xl leading-20;
  }

  h1 + p {
    color: #616161;
  }
}

.slidev-layout.question {
  @apply text-center grid h-full;
  background-color: #f5f5f5;

  .question-container {
    @apply text-xl;
    background-color: var(--slidev-theme-primary);
    border-radius: 8px;
    position: relative;
    padding: 24px;
    margin: auto;
    font-weight: 700;
    width: fit-content;
  }

  .question-container:after {
    content: '';
    position: absolute;
    bottom: 0;
    left: 30%;
    width: 0;
    height: 0;
    border: 40px solid transparent;
    border-top-color: var(--slidev-theme-primary);
    border-bottom: 0;
    border-left: 0;
    margin-left: -20px;
    margin-bottom: -40px;
  }
}

.slidev-layout.fact {
  @apply text-center grid h-full;
  h1 {
    @apply text-8xl font-700;
  }
  h1 + p {
    @apply font-700 text-2xl;
  }
}

.slidev-layout.statement {
  @apply text-center grid h-full;

  h1 {
    @apply text-6xl font-700;
  }
}

.slidev-layout.quote {
  @apply grid h-full;

  h1 + p {
    @apply mt-2;
  }
}

.slidev-layout.section {
  h1 {
    @apply text-6xl font-500 leading-20;
  }
}

